<div class="header-image">
    <div class="header-block">
        <div class="header-text">
            <div class="header-text-title">سیستم های گیمینگ</div>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
        </div>
    </div>
</div>
<div class="layout-container">
    <div class="product-grid">
        <div class="col-md-4 col-sm-6" *ngFor="let product of products;let i = index">
            <div class="image-container">
                <div class="product-image" [ngStyle]="{'background-image': 'url(./assets/imgs/' + product.image + ')'}"></div>
                <div class="overlay">
                    <div class="button button-primary" [routerLink]="['../product',i+1]">جزئیات</div>
                    <div class="button button-primary" (click)="addToCart(product)">افزودن به سبد خرید</div>
                </div>
            </div>
            <div class="product-details">
                <div class="product-brand">{{product.brand}}</div>
                <div class="product-title">{{product.title}}</div>
                <div class="product-price">{{product.price}}</div>
            </div>
        </div>
    </div>
</div>
